<% if user_signed_in? %>
  <div>
    <h1>Welcome <%= current_user.username %></h1>
    
    <%= render 'posts/post_form' %>
    <%= render @posts unless @posts.empty? %>
  </div>
<% else %>
  <div>
    <h1>Welcome to Fakebook</h1>
  </div>
<% end %>
