<% if current_user == @user %>
  <div class='self-center justify-center bg-gray-600 hover:bg-gray-500 dark:bg-gray-700 dark:hover:bg-gray-600 text-white w-fit px-3 py-2 rounded-lg duration-500'>
    <%= link_to 'Edit profile',  edit_profile_path(current_user.profile) %>
  </div>
<% end %>