<li>
  <%= gravatar_for(notification.sender, { size: 40 }) %>
  <%= link_to notification.sender.username, notification.sender %>

  <%= notification.message %>

  <% if notification.friend_request? %>
    <%= render 'friend_form',  :@user => notification.sender %>
  <% end %>
</li>