<h1><%= @user.username %>'s friends...</h1>

<ul>
  <% @friends.each do |friend|%>
    <li>
      <img src=<%= profile_img(friend) %> class="rounded-full w-14 h-14">
      <%= link_to friend.username, friend %>
    </li>
  <% end %> 
</ul>