<h1><%= @user.username %>'s Notifications</h1>

<% @add_friend = 'Accept'
   @unfriend = 'Decline' %>

<% unless @new.empty? %>
  <h3>New</h3>
  <ul>
    <%= render @new %>
  </ul>
<% end %>

<h3>Old</h3>
<ul>
  <%= render @old %>
</ul>