<div>
  <h1 class="text-3xl mb-2 duration-500 font-bold">Notifications</h1>

  <% unless @new.empty? %>
    <h3 class="text-xl duration-500">New</h3>
    <ul>
      <%= render @new %>
    </ul>
  <% end %>

  <h3 class="text-xl duration-500">Old</h3>
  <ul>
    <%= render @old %>
  </ul>
</div>