<h1><%= @user.username %>'s Notifications</h1>

<ul>
  <% @notifications.each do |n|%>
    <li>
      <%= link_to n.request_sender.username, n.request_sender %>
      <%= n.message %>
    </li>
  <% end %>
</ul>