<div id=<%= "reaction_form#{@reactable.id}"%> >
  <% if current_user.reacted?(@reactable) %>
    <%= render 'reactions/unreact' %>
  <% else %>
    <%= render 'reactions/add_reaction' %>
  <% end %>
</div>