<%= form_with(model: @post) do |f| %>
  <%= f.text_area :content, placeholder: "Write your new post here..." %>
  <%= f.submit "Post" %>
  <span class="image">
    <%= f.file_field :image %>
  </span>
<% end %>