<%= render @post %>

<h2>Add a comment:</h2>
<%= render 'comments/comment_form', :parent => nil %>

<h2><%= pluralize(@post.comments.count, 'Comment') %></h2>
<%= render @post.comments.where(parent_id: nil) %>
