<% unless notice.nil? %>
    <p class="notice text-center border-solid border-2 border-green-500 rounded-md w-fit m-auto py-2 px-3 my-3"><%= notice %></p>
<% end %>

<% unless alert.nil? %>
    <p class="alert text-center border-solid border-2 border-red-500 rounded-md w-fit m-auto py-2 px-3"><%= alert %></p>
<% end %>